<div class="container">
  <h1 class="header">
    Registration
    <p>Template driven forms</p>
  </h1>
  <form (ngSubmit)="userForm.valid && onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="firstname">First name</label>
      <input type="text" class="form-control" id="firstname" [(ngModel)]="model.firstname" name="firstname" required #firstname="ngModel">
      <div [hidden]="firstname.valid || firstname.pristine && !userForm.submitted" class="alert alert-danger">
        Firstname is required
      </div>
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" id="lastname" [(ngModel)]="model.lastname" name="lastname" required #lastname="ngModel">
      <div [hidden]="lastname.valid || lastname.pristine && !userForm.submitted" class="alert alert-danger">
        Lastname is required
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" [(ngModel)]="model.gender" name="gender" required>
        <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" pattern="[^ @]*@[^ @]*" required
        #email="ngModel">
      <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched || userForm.submitted)">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.pattern">Email must contain at least the @ character</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password" required #password="ngModel"
        minlength="8" validateEqual="confirmPassword" reverse="true">
      <div class="alert alert-danger" *ngIf="password.errors && (password.dirty || password.touched || userForm.submitted)">
        <p *ngIf="password.errors.required">Password is required</p>
        <p *ngIf="password.errors.minlength">Password must be at least 8 characters long</p>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="model.confirmPassword" name="confirmPassword"
        required #confirmPassword="ngModel" validateEqual="password">
      <div class="alert alert-danger" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched || userForm.submitted)">
        <p *ngIf="confirmPassword.errors.required">Confirm Password is required</p>
        <p *ngIf="!(confirmPassword.valid || confirmPassword.pristine)">
          Password mismatch
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="model.city" name="city">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea class="form-control" id="address" [(ngModel)]="model.address" name="address" required #address="ngModel"></textarea>
      <div [hidden]="address.valid || address.pristine && !userForm.submitted" class="alert alert-danger">
        Address is required
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <p class="login-redirect">
    <a routerLink="/login">Already a member?</a>
  </p>
</div>
